<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Embedded JavaScript templates">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="<%= prefix %>/css/main.min.css">
    <title>Brandweer</title>
</head>
<body>
<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand d-flex align-items-center" href="/"><img class="mr-2" src="<%= prefix %>/images/logo.png" alt="logo">Brandweer</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <% if (userObject) { %>
                <% if (userObject['loggedIn']) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= prefix %>/notification">Melding</a>
                    </li>
                    <% if (userObject['roleId'] === 1) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="<%= prefix %>/admin">Admin</a>
                        </li>
                    <% } %>
                <% } %>
            <% } %>
        </ul>
        <ul class="navbar-nav">
            <% if (userObject) { %>
                <% if (userObject['loggedIn']) {%>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= prefix %>/logout">Logout</a>
                    </li>
                <% } %>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="<%= prefix %>/register">Registreren</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="<%= prefix %>/login">Login</a>
                </li>
            <% } %>
        </ul>
    </div>
</nav>
