<%- include('../partials/header'); %>
<main>
    <div class="container">
        <a href="<%= prefix %>/notification/create">Maak melding aan</a>
        <div class="row">
            <% if (locals.notifications) { %>
                <% notifications.forEach(function(notification) { %>
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <%= notification.what %>
                            </div>
                            <div class="card-body">
                                <%= notification.who %>
                                <%= notification.location %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</main>
<%- include('../partials/footer'); %>